<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand fw-bold" href="#">
      Gastón Levy
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
      aria-controls="mainNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="mainNavbar" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        @for (item of navItems; track item.href) {
          <li class="nav-item">
            <a class="nav-link" [href]="item.href">
              {{ item.label }}
            </a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>